apiVersion: 1

contactPoints:
  - orgId: 1
    name: email
    receivers:
      - uid: email-default
        type: email
        settings:
          addresses: "{{ alert_email_to }}"
          singleEmail: false
          subject: '{% raw %}{{ template "homelab.email.subject" . }}{% endraw %}'
          message: '{% raw %}{{ template "homelab.email.message" . }}{% endraw %}'
        disableResolveMessage: false
